@charset "UTF-8";
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/*--------------------*/
.greenTheme {
    --bgColor: rgb(219, 226, 231);
    --thColor: rgb(167, 247, 203);
    --tdColor: rgb(217, 245, 245);
    --borderColor: rgb(167, 216, 240);
    --btnColor: rgb(214, 203, 189);
    --btnHovColor:rgb(197, 188, 176);
    --btnActColor: rgb(168, 161, 151);
    --borderbtnColor: rgb(211, 191, 164);
}

.blueTheme {
    --bgColor: rgb(195, 219, 236);
    --thColor: rgb(151, 219, 247);
    --tdColor: rgb(172, 221, 243);
    --borderColor: rgb(165, 199, 209);
    --btnColor: rgb(162, 194, 243);
    --btnHovColor: rgb(148, 178, 223);
    --btnActColor: rgb(136, 164, 206);
    --borderbtnColor: rgb(139, 173, 182);
}

body {
    background-color: var(--bgColor);
    font-family: sans-serif;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 16px;
}

body button {
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

body button:hover {
    background-color: var(--btnHovColor);
}

body button:active {
    background-color: var(--btnActColor);
}

body .wrapper {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-grid-columns: 0.5fr 1fr 1fr;
    grid-template-columns: 0.5fr 1fr 1fr;
    -ms-grid-rows: 0.15fr 1fr 0.3fr;
    grid-template-rows: 0.15fr 1fr 0.3fr;
        grid-template-areas: "hd hd hd" "mn mn mn" "ft ft ft";
}

body .wrapper .header-wrapper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: hd;
}

body .wrapper .table-sheet {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: mn;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

body .wrapper .table-sheet .calendar-head {
    margin-bottom: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "bt em ye";
}

body .wrapper .table-sheet .calendar-head .button-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: bt;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 5px;
}

body .wrapper .table-sheet .calendar-head .button-container button {
    background-color: var(--btnColor);
    border: 1px solid var(--borderbtnColor);
    border-radius: 2px;
    margin: 0 5px;
    font-weight: bold;
}

body .wrapper .table-sheet .calendar-head .button-container button:hover {
    background-color: var(--btnHovColor);
}

body .wrapper .table-sheet .calendar-head .button-container button:active {
    background-color: var(--btnActColor);
}

body .wrapper .table-sheet .calendar-head .year {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: ye;
    font-size: 32px;
    text-align: right;
    padding-right: 5px;
}

body .wrapper .table-sheet .table-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

body .wrapper .table-sheet .table-container .table-wrapper table {
    display: inline-block;
    border: 1px solid var(--borderColor);
    border-spacing: 0px;
    border-collapse: collapse;
}

body .wrapper .table-sheet .table-container .table-wrapper table caption {
    background-color: var(--thColor);
    border: 1px solid var(--borderColor);
    padding: 2px;
}

body .wrapper .table-sheet .table-container .table-wrapper table td {
    border: 1px solid var(--borderColor);
    background-color: var(--tdColor);
    text-align: center;
    padding: 2px;
    min-width: 30px;
    height: 25px;
}

body .wrapper .table-sheet .table-container .table-wrapper table th {
    border: 1px solid var(--borderColor);
    background-color: var(--thColor);
    padding: 4px;
}

body .wrapper .footer-wrapper {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: ft;
    margin-top: 20px;
    font-size: 20px;
    white-space: nowrap;
}

body .wrapper .footer-wrapper .settings-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 30px;
}

body .wrapper .footer-wrapper .settings-container .btn-date-container .year-input {
    font-size: 23px;
    border-radius: 5px;
    padding: 3px 9px;
}

body .wrapper .footer-wrapper .settings-container .btn-date-container .btn-set-container {
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

body .wrapper .footer-wrapper .settings-container .btn-date-container .btn-set-container button {
    background-color: var(--btnColor);
    border: 1px solid var(--borderbtnColor);
    border-radius: 2px;
    font-size: 16px;
    padding: 10px;
}

body .wrapper .footer-wrapper .settings-container .btn-date-container .btn-set-container button:hover {
    background-color: var(--btnHovColor);
}

body .wrapper .footer-wrapper .settings-container .btn-date-container .btn-set-container button:active {
    background-color: var(--btnActColor);
}

body .wrapper .footer-wrapper .settings-container .btn-week-block-container .btn-week-container {
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

body .wrapper .footer-wrapper .settings-container .btn-week-block-container .btn-week-container button {
    padding: 7px;
    background-color: var(--btnColor);
    border: 1px solid var(--borderbtnColor);
    border-radius: 2px;
    font-size: 16px;
}

body .wrapper .footer-wrapper .settings-container .btn-week-block-container .btn-week-container button:hover {
    background-color: var(--btnHovColor);
}

body .wrapper .footer-wrapper .settings-container .btn-week-block-container .btn-week-container button:active {
    background-color: var(--btnActColor);
}

body .wrapper .footer-wrapper .settings-container .btn-them-container .theme-btn-container {
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

body .wrapper .footer-wrapper .settings-container .btn-them-container .theme-btn-container .theme1 {
    background-color: #a7f7cb;
}

body .wrapper .footer-wrapper .settings-container .btn-them-container .theme-btn-container .theme1:hover {
    background-color: #9be5bc;
}

body .wrapper .footer-wrapper .settings-container .btn-them-container .theme-btn-container .theme1:active {
    background-color: #91d8b1;
}

body .wrapper .footer-wrapper .settings-container .btn-them-container .theme-btn-container .theme2 {
    background-color: #a7f2f7;
}

body .wrapper .footer-wrapper .settings-container .btn-them-container .theme-btn-container .theme2:hover {
    background-color: #9be1e5;
}

body .wrapper .footer-wrapper .settings-container .btn-them-container .theme-btn-container .theme2:active {
    background-color: #97dadd;
}

body .wrapper .footer-wrapper .settings-container .btn-them-container .theme-btn-container button {
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    min-height: 30px;
}
