/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/*--------------------*/

.greenTheme{
    --bgColor: rgb(219, 226, 231);
    --thColor: rgb(167, 247, 203);
    --tdColor: rgb(217, 245, 245);
    --borderColor: rgb(167, 216, 240);
    --btnColor: rgb(214, 203, 189);
    --btnHovColor:rgb(197, 188, 176);
    --btnActColor: rgb(168, 161, 151);
    --borderbtnColor: rgb(211, 191, 164);
}

.blueTheme{
    --bgColor: rgb(195, 219, 236);
    --thColor: rgb(151, 219, 247);
    --tdColor: rgb(172, 221, 243);
    --borderColor: rgb(165, 199, 209);
    --btnColor: rgb(162, 194, 243);
    --btnHovColor: rgb(148, 178, 223);
    --btnActColor: rgb(136, 164, 206);
    --borderbtnColor: rgb(139, 173, 182);
}

body{
    //width: 100%;
    //min-height: 100%;
    background-color: var(--bgColor);
    font-family: sans-serif;
    //max-height: 100vh;
    height: fit-content;
    font-size: 16px;

    button{
        text-transform: uppercase;
        transition: all 0.3s;
        &:hover{
            background-color: var(--btnHovColor);
        }
        &:active{
            background-color: var(--btnActColor);
        }
    }

    .wrapper{
        //max-height: 100vh;
        //width: 100%;
        margin: 0 auto;
        display: grid;
        width: fit-content;
        // height: fit-content;         
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 0.15fr 1fr 0.3fr;
        //min-height: 100vh;                       ///////////////////////////////////////////////////////////////////////////////////
        grid-template-areas: 
            "hd hd hd"
            "mn mn mn"
            "ft ft ft";
    
        .header-wrapper{
            //background-color: rgb(38, 117, 117);
            grid-area: hd;
        }
        
    
    
        .table-sheet{
            grid-area: mn;

            .calendar-head{
                margin-bottom: 10px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: "bt em ye";
                .button-container{
                    grid-area: bt;
                    //justify-content: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-content: space-evenly;
                    padding-top: 5px;
                    button{
                        //background-color: rgb(218, 248, 178);
                        background-color: var(--btnColor);
                        border: 1px solid var(--borderbtnColor);
                        border-radius: 2px;
                        margin: 0 5px;
                        font-weight: bold;
                        &:hover{
                            background-color: var(--btnHovColor);
                        }
                        &:active{
                            background-color: var(--btnActColor);
                        }
                    }

                }
                .year{
                    grid-area: ye;
                    font-size: 32px;
                    text-align: right;
                    padding-right: 5px;

                }
            }
            align-items: center;
            justify-content: center;
            text-align: center;
    
            .table-container{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:  5px;

                .table-wrapper{
                    
                    table {
                        display: inline-block;
                        border: 1px solid var(--borderColor);
                        border-spacing: 0px;
                        border-collapse: collapse;
                    
                        caption {
                            background-color: var(--thColor);
                            border: 1px solid var(--borderColor);
                            padding: 2px;
                        }
                    
                        td {
                            border: 1px solid var(--borderColor);
                            background-color: var(--tdColor);
                            text-align: center;
                            padding: 2px;
                            min-width: 30px;
                            height: 25px;
                        }
                    
                        th {
                            border: 1px solid var(--borderColor);
                            background-color: var(--thColor);
                            padding: 4px;
                        }
                    
                    }
                }
        
                
            }
        }
    
        
    
        .footer-wrapper{
            grid-area: ft;
            //background-color: rgb(214, 203, 189);
            margin-top: 20px;
            font-size: 20px;
            white-space: nowrap;
            .settings-container{
                // background-color: rgb(214, 203, 189);
                // border: 1px solid rgb(216, 192, 161);
                // border-radius: 2px;
                display: grid;
                // justify-content: space-between;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
                gap: 30px;
                .btn-date-container{
                    .year-input{
                        font-size: 23px;
                        border-radius: 5px;
                        padding: 3px 9px;
                    }
                    .btn-set-container{
                        margin-top: 10px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 15px;
                        button{
                            background-color: var(--btnColor);
                            border: 1px solid var(--borderbtnColor);
                            border-radius: 2px;
                            font-size: 16px;
                            padding: 10px;
                            &:hover{
                                background-color: var(--btnHovColor);
                            }
                            &:active{
                                background-color: var(--btnActColor);
                            }
                        }
                        
                    }
                    
                }

                .btn-week-block-container{
                    .btn-week-container{
                        margin-top: 10px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 15px;
                        button{
                            padding: 7px;
                            background-color: var(--btnColor);
                            border: 1px solid var(--borderbtnColor);
                            border-radius: 2px;
                            font-size: 16px;
                            //padding: 5px;
                            &:hover{
                                background-color: var(--btnHovColor);
                            }
                            &:active{
                                background-color: var(--btnActColor);
                            }
                        }
                    }
                }


                .btn-them-container{
                    .theme-btn-container{
                        margin-top: 10px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 15px;
                        .theme1{
                            background-color: rgb(167, 247, 203);
                            &:hover{
                                background-color: rgb(155, 229, 188);
                            }
                            &:active{
                                background-color: rgb(145, 216, 177);
                            }
                        }
                        .theme2{
                            background-color: rgb(167, 242, 247);
                            &:hover{
                                background-color: rgb(155, 225, 229);
                            }
                            &:active{
                                background-color: rgb(151, 218, 221);
                            }
                        }
                        button{
                            border: 1px solid var(--borderColor);
                            border-radius: 5px;
                            font-size: 16px;
                            padding: 5px;
                            min-height: 30px;
                        }
                    }
                }
                // span{
                //     font-size: 18px;
                // }
            }
        }
    }
}


